<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>


<% if params[:query] %>
  <% case %>
  <% when @result.empty? %>
    <p>Sorry, no matches were found</p>
  <% else %>
    <h2 class="content-subhead"> Results for '<%= params[:query] %>'</h2>
    <% @result.keys.each do |chap_num| %>
      <ul>
        <li><%= @toc[chap_num-1] %></li>
        <% @result[chap_num].each do |couple| %>
          <ul>
            <li><a href="/chapters/<%= chap_num %>#<%= couple.first %>"> <%= highlight(in_paragraphs(couple.last)) %></a></li>
          </ul>

        <% end %>


      </ul>
    <% end %>
  <% end %>
<% end %>

